<a href="https://colab.research.google.com/github/Pradeepjha88/Vectorised-Neural-key-exchange/blob/master/Encoding_string_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/startup_funding.csv")

In [ ]:
df.columns

Index(['SNo', 'Date', 'StartupName', 'IndustryVertical', 'SubVertical',
       'CityLocation', 'InvestorsName', 'InvestmentType', 'AmountInUSD',
       'Remarks'],
      dtype='object')

In [ ]:
df.head()

   SNo        Date   StartupName  ...  InvestmentType AmountInUSD Remarks
0    0  01/08/2017      TouchKin  ...  Private Equity   1,300,000     NaN
1    1  02/08/2017       Ethinos  ...  Private Equity         NaN     NaN
2    2  02/08/2017  Leverage Edu  ...    Seed Funding         NaN     NaN
3    3  02/08/2017          Zepo  ...    Seed Funding     500,000     NaN
4    4  02/08/2017  Click2Clinic  ...    Seed Funding     850,000     NaN

[5 rows x 10 columns]